@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* 
 font-family: 'Open Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.tits {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.line {
    height: 2px;
    width: 150px;
    background-color: black;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#navbar {
    background-color: #333;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: -100px;
    /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
    z-index: 100;
}


/* Style the navbar links */

#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

#navbar a:hover {
    background-color: #30E8BF;
    color: black;
}

#home {
    height: 100vh;
    background-image: linear-gradient(#360033, #0b8793);
}

#particles-js {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-1 {
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 200px;
    color: white;
}


/* Animation */

.anim-typewriter {
    animation: typewriter 4s steps(55) 1s 1 normal both, blinkTextCursor 500ms steps(55) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.fade-in {
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
    text-align: center;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fa-chevron-down {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    font-size: 50px;
    color: white;
}

#how {
    height: 100vh;
    background-color: #f4f4f4;
}

#imag {
    height: 100vh;
}

.forImages {
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    font-size: 35px;
}

.forAudio {
    font-family: 'Open Sans', sans-serif;
    padding-right: 50px;
    font-size: 35px;
    float: right;
}

.upload_top {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload_botm {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

#uploader2 {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

.how1 {
    width: 50%;
    position: absolute;
    left: 90%;
    top: 75%;
    transform: translate(-90%, -75%);
    border-radius: 12px;
}

.how2 {
    width: 20%;
    position: relative;
    left: 15%;
    top: 15%;
    transform: translate(-15%, 15%);
    border-radius: 12px;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    -webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
}

@-webkit-keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
    position: relative;
    top: 35%;
    left: 45%;
    transform: translate(-45%, -35%);
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: RoyalBlue;
}

.fa-sync {
    font-size: 65px;
    position: relative;
    left: 70%;
    top: 30%;
}